<div>Budget Detail</div>
<section class="container">
	<!-- Detail section -->
	<div class="row">
		Details {{vm.testing}}
	</div>
</section>
<section class="container">
	<!-- Expenses Grid section -->	
	<div ng-repeat="expense in vm.expenseList">
		<table class="table">
			<thead>
				<tr>
					<th>Expected Expenses</th>
					<th>Amount</th>
					<th>Notes</th>
					<th>IsShared</th>
					<th>Date Paid</th>
					<th>IsCharged</th>
					<th>Rassel Share</th>
					<th>Khris Share</th>
					<th>Payer</th>
				<tr>
			</thead>
			<tbody>
			</tbody>		
		</table>
	</div>
</section>