<div>Budget List</div>
<section class="container">
	<!-- Search section -->
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				<label for="date" class="form-label">Date:</label>
				 <input type="date" class="form-control" id="daterange">
			</div><!-- /input-group -->
		</div>
		<div class="col-md-6">
			<button class="btn btn-default" data-ng-click='vm.newBudget()'>New</button>
			<button class="btn btn-default">Search</button>
		</div>
	</div>
</section>

<section class="container" data-ng-init="vm.find()">
	<!-- Grid section -->	
	<div ng-repeat="budget in vm.budgetList">
		<table class="table">
			<thead>
				<tr>
					<th>Date Range</th>
					<th>IsFullyPaid</th>
					<th>Total Expenses</th>
					<th>Notes</th>
				<tr>
			</thead>
			<tbody>
				<tr>
					<td>{{budget.dateFrom}}</td>
					<td>{{budget.isFullyPaid}}</td>
					<td>test</td>
					<td>test</td>
				</tr>
			</tbody>		
		</table>
	</div>
</section>