<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	Budget APP
	<div ng-view>
	</div>
	
	<script data-main="app-main" src="/lib/requirejs/require.js"></script>
</body>
<footer>
	Listahan
</footer>
</html>